* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 0;
}

window#waybar.nord {
    color: #e5e9f0;
}

window#waybar.nightfly {
    color: #d6deeb;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
}

.nord #workspaces button {
    color: #2e3440;
    background-color: #e5e9f0;
}

.nightfly #workspaces button {
    color: #1d3b53;
    background-color: #d6deeb;
}

#workspaces button:first-child {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    padding-left: 8px;
}

#workspaces button:last-child {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    padding-right: 8px;
}

.nord #workspaces button:hover {
    background-color: #88c0d0;
}

.nord #workspaces button.active {
    background-color: #81a1c1;
}

.nord #workspaces button.urgent {
    background-color: #bf616a;
}

.nord #mode {
    background-color: #4c566a;
}

.nightfly #workspaces button:hover {
    background-color: #b2ceee;
}

.nightfly #workspaces button.active {
    background-color: #82aaff;
}

.nightfly #workspaces button.urgent {
    background-color: #fc514e;
}

.nightfly #mode {
    background-color: #1d3b53;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 15px;
    border-radius: 20px;
}

.nord #clock,
.nord #battery,
.nord #cpu,
.nord #memory,
.nord #disk,
.nord #temperature,
.nord #backlight,
.nord #network,
.nord #pulseaudio,
.nord #wireplumber,
.nord #custom-media,
.nord #tray,
.nord #mode,
.nord #idle_inhibitor,
.nord #scratchpad,
.nord #mpd {
    color: #e5e9f0;
}

.nord #clock,
.nord #battery,
.nord #cpu,
.nord #memory,
.nord #disk,
.nord #temperature,
.nord #backlight,
.nord #network,
.nord #pulseaudio,
.nord #wireplumber,
.nord #custom-media,
.nord #tray,
.nord #mode,
.nord #idle_inhibitor,
.nord #scratchpad,
.nord #mpd {
    color: #d6deeb;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.nord #clock {
    background-color: #4c566a;
}

.nord #battery {
    background-color: #e5e9f0;
    color: #2e3440;
}

.nord #battery.charging,
.nord #battery.plugged {
    background-color: #a3be8c;
    color: #2e3440;
}

.nightfly #clock {
    background-color: #1d3b53;
}

.nightfly #battery {
    background-color: #d6deeb;
    color: #1d3b53;
}

.nightfly #battery.charging,
.nightfly #battery.plugged {
    background-color: #a1cd5e;
    color: #1d3b53;
}

@keyframes blink-nord {
    to {
        background-color: #e5e9f0;
        color: #2e3440;
    }
}

@keyframes blink-nightfly {
    to {
        background-color: #d6deeb;
        color: #1d3b53;
    }
}

#battery.critical:not(.charging) {
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.nord #battery.critical:not(.charging) {
    background-color: #bf616a;
    color: #e5e9f0;
    animation-name: blink-nord;
}

.nightfly #battery.critical:not(.charging) {
    background-color: #fc514e;
    color: #d6deeb;
    animation-name: blink-nightfly;
}

.nord label:focus {
    background-color: #2e3440;
}

.nord #cpu {
    background-color: #a3be8c;
    color: #2e3440;
}

.nord #memory {
    background-color: #b48ead;
    color: #2e3440;
}

.nord #disk {
    background-color: #d08770;
    color: #2e3440;
}

.nord #backlight {
    background-color: #90b1b1;
    color: #2e3440;
}

.nord #network {
    background-color: #5e81ac;
    color: #2e3440;
}

.nord #network.disconnected {
    background-color: #bf616a;
    color: #2e3440;
}

.nord #pulseaudio {
    background-color: #ebcb8b;
    color: #2e3440;
}

.nord #pulseaudio.muted {
    background-color: #8fbcbb;
    color: #2e3440;
}

.nord #temperature {
    background-color: #d08770;
    color: #2e3440;
}

.nord #temperature.critical {
    background-color: #eb4d4b;
    color: #2e3440;
}

.nightfly label:focus {
    color: #1d3b53;
}

.nightfly #cpu {
    background-color: #a1cd5e;
    color: #1d3b53;
}

.nightfly #memory {
    background-color: #c792ea;
    color: #1d3b53;
}

.nightfly #disk {
    background-color: #ecc48d;
    color: #1d3b53;
}

.nightfly #backlight {
    background-color: #7fdbca;
    color: #1d3b53;
}

.nightfly #network {
    background-color: #82aaff;
    color: #1d3b53;
}

.nightfly #network.disconnected {
    background-color: #fc514e;
    color: #1d3b53;
}

.nightfly #pulseaudio {
    background-color: #e3d18a;
    color: #1d3b53;
}

.nightfly #pulseaudio.muted {
    background-color: #7fdbca;
    color: #1d3b53;
}

.nightfly #temperature {
    background-color: #ecc48d;
    color: #1d3b53;
}

.nightfly #temperature.critical {
    background-color: #eb4d4b;
    color: #1d3b53;
}
